html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #5C258D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4389A2, #5C258D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4389A2, #5C258D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.fa-solid {
    margin-right: 5px;
}

.card-color-purple {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

#nav-transparent ul li a:hover {
    color: #7386D5 !important;
    background: #fff !important;
}

.nav-active {
    color: #7386D5 !important;
    background: #fff !important;
}

/*navbar style*/
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    min-height: 100vh;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -420px;
}

a[data-toggle="collapse"] {
    position: relative;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -310px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}

/*additional styling*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5 !important;
    background: #fff !important;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


/*-----------*/

#card-color {
    background: #134E5E;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #71B280, #134E5E);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #71B280, #134E5E);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#nav-color {
    background: #8e9eab;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* #bottom-shadow {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
} */
#nav-transparent {
    background: transparent;
}
